In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
!pip install kaggle

Collecting kaggle
  Obtaining dependency information for kaggle from https://files.pythonhosted.org/packages/14/83/7f29c7abe0d5dc769dad7da993382c3e4239ad63e1dd58414d129e0a4da2/kaggle-1.7.4.5-py3-none-any.whl.metadata
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in d:\post\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in d:\post\lib\site-packages (from kaggle) (2025.10.5)
Requirement already satisfied: charset-normalizer in d:\post\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in d:\post\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in d:\post\lib\site-packages (from kaggle) (4.25.8)
Requirement already satisfied: python-dateutil>=2.5.3 in d:\post\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in d:\post\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in d:\post\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: setuptools>=21.0.0 in d:\post\lib\site-packages (from kaggle) (68.0.0)
Requirement already satisfied: six>=1.10 in d:\post\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in d:\post\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in d:\post\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in d:\post\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: webencodings in d:\post\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in d:\post\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: colorama in d:\post\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
   ---------------------------------------- 0.0/181.2 kB ? eta -:--:--
   -- ------------------------------------- 10.2/181.2 kB ? eta -:--:--
   ---- ---------------------------------- 20.5/181.2 kB 217.9 kB/s eta 0:00:01
   ------ -------------------------------- 30.7/181.2 kB 186.2 kB/s eta 0:00:01
   ----------------- --------------------- 81.9/181.2 kB 456.6 kB/s eta 0:00:01
   ---------------------------------- --- 163.8/181.2 kB 756.6 kB/s eta 0:00:01
   -------------------------------------- 181.2/181.2 kB 727.7 kB/s eta 0:00:00
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.5

In [14]:
df = pd.read_csv(r"G:\Protfolio Projects\Course Recommendation System\Coursera.csv")
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [16]:
df.shape

(3522, 7)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [19]:
df.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [20]:
df["Difficulty Level"].value_counts()

Difficulty Level
Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: count, dtype: int64

In [21]:
df["Course Rating"].value_counts()

Course Rating
4.7               740
4.6               623
4.8               598
4.5               389
4.4               242
4.9               180
4.3               165
4.2               121
5                  90
4.1                85
Not Calibrated     82
4                  51
3.8                24
3.9                20
3.6                18
3.7                18
3.5                17
3.4                13
3                  12
3.2                 9
3.3                 6
2.9                 6
2.6                 2
2.8                 2
2.4                 2
1                   2
2                   1
3.1                 1
2.5                 1
1.9                 1
2.3                 1
Name: count, dtype: int64

In [22]:
df["University"].value_counts()

University
Coursera Project Network                      562
University of Illinois at Urbana-Champaign    138
Johns Hopkins University                      110
University of Michigan                        101
University of Colorado Boulder                101
                                             ...
GitLab                                          1
Yeshiva University                              1
University of Glasgow                           1
Laureate Education                              1
The World Bank Group                            1
Name: count, Length: 184, dtype: int64

In [23]:
df["Course Name"]

0       Write A Feature Length Screenplay For Film Or ...
1       Business Strategy: Business Model Canvas Analy...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
4            Retrieve Data using Single-Table SQL Queries
                              ...
3517    Capstone: Retrieving, Processing, and Visualiz...
3518                     Patrick Henry: Forgotten Founder
3519    Business intelligence and data analytics: Gene...
3520                                  Rigid Body Dynamics
3521    Architecting with Google Kubernetes Engine: Pr...
Name: Course Name, Length: 3522, dtype: object

In [28]:
data = df

In [31]:
data.head(20)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...
5,Building Test Automation Framework using Selen...,Coursera Project Network,Beginner,4.7,https://www.coursera.org/learn/building-test-a...,Selenium is one of the most widely used functi...,maintenance test case test automation scree...
6,Doing Business in China Capstone,The Chinese University of Hong Kong,Advanced,3.3,https://www.coursera.org/learn/doing-business-...,Doing Business in China Capstone enables you t...,marketing plan Planning Marketing consumpti...
7,"Programming Languages, Part A",University of Washington,Intermediate,4.9,https://www.coursera.org/learn/programming-lan...,This course is an introduction to the basic co...,inference ml (programming language) higher-o...
8,The Roles and Responsibilities of Nonprofit Bo...,The State University of New York,Intermediate,4.3,https://www.coursera.org/learn/nonprofit-gov-2,This course provides a more in-depth look at t...,Planning Peer Review fundraising strategic ...
9,Business Russian Communication. Part 3,Saint Petersburg State University,Intermediate,Not Calibrated,https://www.coursera.org/learn/business-russia...,Russian is considered to be one of the most di...,Russian market (economics) tax exemption co...
10,Agile Projects: Developing Tasks with Taiga,Coursera Project Network,Beginner,4,https://www.coursera.org/learn/developing-agil...,"By the end of this guided project, you will be...",project modeling Project Management agile m...
11,Esports Management Capstone Project,"University of California, Irvine",Beginner,4.4,https://www.coursera.org/learn/esports-managem...,We will analyze the pros and cons of creating ...,Average Planning Leadership and Management ...
12,Hacking and Patching,University of Colorado System,Advanced,3.4,https://www.coursera.org/learn/hacking-patching,"In this MOOC, you will learn how to hack web a...",Security Design design pattern web applicati...
13,Business Statistics and Analysis Capstone,Rice University,Beginner,4.7,https://www.coursera.org/learn/business-statis...,The Business Statistics and Analysis Capstone ...,Statistical Analysis Microsoft Excel busines...
14,Grab Data Fast with Vertical and Horizontal LO...,Coursera Project Network,Beginner,4.5,https://www.coursera.org/learn/grab-data-fast-...,Data can come our way in multiple forms and fr...,evaluation software presentation lookup tab...
15,Global Health: An Interdisciplinary Overview,University of Geneva,Beginner,4.6,https://www.coursera.org/learn/global-health-o...,This course proposes an overview of current gl...,sustainability research and development Comm...
16,Python Programming Essentials,Rice University,Beginner,4.8,https://www.coursera.org/learn/python-programming,This course will introduce you to the wonderfu...,semantics Python Programming coding conventi...
17,Creating Dashboards and Storytelling with Tableau,"University of California, Davis",Advanced,4.6,https://www.coursera.org/learn/dataviz-dashboards,Leveraging the visualizations you created in t...,neuroscience Data Visualization Storytelling...
18,Parallel programming,�cole Polytechnique F�d�rale de Lausanne,Beginner,4.4,https://www.coursera.org/learn/parprog1,With every smartphone and computer now boastin...,Data Structures parallel algorithm openfabri...
19,Recommendation Systems with TensorFlow on GCP,Google Cloud,Advanced,4.2,https://www.coursera.org/learn/recommendation-...,"In this course, you'll apply your knowledge of...",systems architecture Cloud Computing Google ...

In [30]:
data.columns

Index(['Course Name', 'University', 'Difficulty Level', 'Course Rating',
       'Course URL', 'Course Description', 'Skills'],
      dtype='object')

In [32]:
data = data[['Course Name', 'Difficulty Level', 'Course URL', 'Course Description', 'Skills']]

In [33]:
data.head()

,Course Name,Difficulty Level,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [36]:
# Clean 'Course Name' column
data.loc[:, 'Course Name'] = (
    data['Course Name']
        .str.replace(':', '', regex=False)
        .str.replace(' ', ',', regex=False)
        .str.replace(',,', ',', regex=False)
)

# Clean 'Course Description' column
data.loc[:, 'Course Description'] = (
    data['Course Description']
        .str.replace(':', '', regex=False)
        .str.replace('_', '', regex=False)
        .str.replace('[()]', '', regex=True)
        .str.replace(' ', ',', regex=False)
        .str.replace(',,', ',', regex=False)
)

# Clean 'Skills' column
data.loc[:, 'Skills'] = data['Skills'].str.replace('[()]', '', regex=True)

In [37]:
data.head()

,Course Name,Difficulty Level,Course URL,Course Description,Skills
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,https://www.coursera.org/learn/write-a-feature...,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,https://www.coursera.org/learn/canvas-analysis...,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...
2,"Silicon,Thin,Film,Solar,Cells",Advanced,https://www.coursera.org/learn/silicon-thin-fi...,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...
3,"Finance,for,Managers",Intermediate,https://www.coursera.org/learn/operational-fin...,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,https://www.coursera.org/learn/single-table-sq...,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...

In [38]:
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13160\1498507563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']

In [39]:
data.head()

,Course Name,Difficulty Level,Course URL,Course Description,Skills,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,https://www.coursera.org/learn/write-a-feature...,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,https://www.coursera.org/learn/canvas-analysis...,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,https://www.coursera.org/learn/silicon-thin-fi...,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,https://www.coursera.org/learn/operational-fin...,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,https://www.coursera.org/learn/single-table-sq...,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [40]:
data['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona user experience  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [41]:
new_df=data[['Course Name','Course URL','tags']]

In [42]:
new_df["Course Name"] = data['Course Name'].str.replace(',', ' ')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13160\2550640291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Course Name"] = data['Course Name'].str.replace(',', ' ')

In [43]:
new_df["Course Name"]

0       Write A Feature Length Screenplay For Film Or ...
1       Business Strategy Business Model Canvas Analys...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
4            Retrieve Data using Single-Table SQL Queries
                              ...
3517    Capstone Retrieving Processing and Visualizing...
3518                      Patrick Henry Forgotten Founder
3519    Business intelligence and data analytics Gener...
3520                                  Rigid Body Dynamics
3521    Architecting with Google Kubernetes Engine Pro...
Name: Course Name, Length: 3522, dtype: object

In [44]:
new_df.rename(columns = {"Course Name" : "course_name", "Course URL" : "course_url"}, inplace = True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13160\997611021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {"Course Name" : "course_name", "Course URL" : "course_url"}, inplace = True)

In [45]:
new_df

,course_name,course_url,tags
0,Write A Feature Length Screenplay For Film Or ...,https://www.coursera.org/learn/write-a-feature...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,Business Strategy Business Model Canvas Analys...,https://www.coursera.org/learn/canvas-analysis...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,Silicon Thin Film Solar Cells,https://www.coursera.org/learn/silicon-thin-fi...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,Finance for Managers,https://www.coursera.org/learn/operational-fin...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,Retrieve Data using Single-Table SQL Queries,https://www.coursera.org/learn/single-table-sq...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."
...,...,...,...
3517,Capstone Retrieving Processing and Visualizing...,https://www.coursera.org/learn/python-data-vis...,"Capstone,Retrieving,Processing,and,Visualizing..."
3518,Patrick Henry Forgotten Founder,https://www.coursera.org/learn/henry,"Patrick,Henry,Forgotten,FounderIntermediate�Gi..."
3519,Business intelligence and data analytics Gener...,https://www.coursera.org/learn/business-intell...,"Business,intelligence,and,data,analytics,Gener..."
3520,Rigid Body Dynamics,https://www.coursera.org/learn/rigid-body-dyna...,"Rigid,Body,DynamicsBeginnerThis,course,teaches..."
3521,Architecting with Google Kubernetes Engine Pro...,https://www.coursera.org/learn/deploying-secur...,"Architecting,with,Google,Kubernetes,Engine,Pro..."

In [46]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13160\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [47]:
new_df

,course_name,course_url,tags
0,Write A Feature Length Screenplay For Film Or ...,https://www.coursera.org/learn/write-a-feature...,"write,a,feature,length,screenplay,for,film,or,..."
1,Business Strategy Business Model Canvas Analys...,https://www.coursera.org/learn/canvas-analysis...,"business,strategy,business,model,canvas,analys..."
2,Silicon Thin Film Solar Cells,https://www.coursera.org/learn/silicon-thin-fi...,"silicon,thin,film,solar,cellsadvancedthis,cour..."
3,Finance for Managers,https://www.coursera.org/learn/operational-fin...,"finance,for,managersintermediatewhen,it,comes,..."
4,Retrieve Data using Single-Table SQL Queries,https://www.coursera.org/learn/single-table-sq...,"retrieve,data,using,single-table,sql,queriesbe..."
...,...,...,...
3517,Capstone Retrieving Processing and Visualizing...,https://www.coursera.org/learn/python-data-vis...,"capstone,retrieving,processing,and,visualizing..."
3518,Patrick Henry Forgotten Founder,https://www.coursera.org/learn/henry,"patrick,henry,forgotten,founderintermediate�gi..."
3519,Business intelligence and data analytics Gener...,https://www.coursera.org/learn/business-intell...,"business,intelligence,and,data,analytics,gener..."
3520,Rigid Body Dynamics,https://www.coursera.org/learn/rigid-body-dyna...,"rigid,body,dynamicsbeginnerthis,course,teaches..."
3521,Architecting with Google Kubernetes Engine Pro...,https://www.coursera.org/learn/deploying-secur...,"architecting,with,google,kubernetes,engine,pro..."

In [48]:
new_df.shape

(3522, 3)

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words = 'english')
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
import nltk
from nltk.stem.porter import PorterStemmer

In [52]:
ps = PorterStemmer()

In [53]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [54]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13160\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [55]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [56]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distance = similarity[course_index]
    course_list = sorted(list(enumerate(distance)), reverse = True, key = lambda x:x[1])[1:7]
    
    recommended_courses = []
    for i in course_list:
        course_name = new_df.iloc[i[0]].course_name
        course_url = new_df.iloc[i[0]].course_url
        recommended_courses.append({'name': course_name, 'url': course_url})
    return recommended_courses

In [57]:
new_df.head()

,course_name,course_url,tags
0,Write A Feature Length Screenplay For Film Or ...,https://www.coursera.org/learn/write-a-feature...,"write,a,feature,length,screenplay,for,film,or,..."
1,Business Strategy Business Model Canvas Analys...,https://www.coursera.org/learn/canvas-analysis...,"business,strategy,business,model,canvas,analys..."
2,Silicon Thin Film Solar Cells,https://www.coursera.org/learn/silicon-thin-fi...,"silicon,thin,film,solar,cellsadvancedthis,cour..."
3,Finance for Managers,https://www.coursera.org/learn/operational-fin...,"finance,for,managersintermediatewhen,it,comes,..."
4,Retrieve Data using Single-Table SQL Queries,https://www.coursera.org/learn/single-table-sq...,"retrieve,data,using,single-table,sql,queriesbe..."

In [58]:
recommend("Retrieve Data using Single-Table SQL Queries")

[{'name': 'Creating Database Tables with SQL',
  'url': 'https://www.coursera.org/learn/creating-database-tables-with-sql'},
 {'name': 'Manipulating Data with SQL',
  'url': 'https://www.coursera.org/learn/manipulating-data-with-sql'},
 {'name': 'Create Relational Database Tables Using SQLiteStudio',
  'url': 'https://www.coursera.org/learn/create-relational-database-table-sqlitestudio'},
 {'name': 'Retrieve Data with Multiple-Table SQL Queries',
  'url': 'https://www.coursera.org/learn/multiple-table-sql-queries'},
 {'name': 'Advanced SQL Retrieval Queries in SQLiteStudio',
  'url': 'https://www.coursera.org/learn/Advanced-sql-retrieval-queries-in-sqlitestudio'},
 {'name': 'Relational Database Support for Data Warehouses',
  'url': 'https://www.coursera.org/learn/dwrelational'}]

In [65]:
import pickle
from pathlib import Path

# Use your specified path
base_path = Path(r"G:\Protfolio Projects\Course Recommendation System\models")

# Create the directory if it doesn't exist
base_path.mkdir(parents=True, exist_ok=True)

# Save similarity matrix
with open(base_path / "similarity.pkl", "wb") as f:
    pickle.dump(similarity, f)

# Save course list as dictionary records
course_list = new_df[['course_name', 'course_url']].to_dict('records')
with open(base_path / "course_list.pkl", "wb") as f:
    pickle.dump(course_list, f)

# Save course DataFrame directly
courses = new_df[['course_name', 'course_url']]
with open(base_path / "courses.pkl", "wb") as f:
    pickle.dump(courses, f)